/* Add a background color to the header element */
header { 
    background-color: rgb(65, 97, 157);
}
/* Add a fun background color to the main element */
main {
    background-color:rgb(215, 166, 105);
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}
/* Make your p tag a different color and italic */
p {
    color: whitesmoke;
    font-style: italic;
}
/* Put a border around your image */
img {
    border-color: aqua;
    border-style: double;
    
}
/* Change the font-family of your list */
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    color: black;
    text-align: center;
}

/* Add a background color to the footer element */
footer {
    background-color: rgb(15, 84, 84);
    text-align: center;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}